{% extends 'base.html' %}

{% block title %} All Student Records {% endblock title %}

{% block body %}

<section class="bg-light p-5">
   <button id="download" type="button" class=" my-2 btn btn-primary">Dowload Details</button>
   <h3 class="pb-4 my-2">Student Records</h3>

   <div class="table-responsive table table-bordered">
      <table class="table bg-white" id="example-table">
         <thead class="bg-dark text-light">
            <tr>
               <th>User ID</th>
               <th>Full Name</th>
               <th>Guirdian</th>
               <th>Date of Birth (DD/MM/YYYY)</th>
               <th>Contact Number</th>
               <th>WhatsApp Number</th>
               <th>Email</th>
               <th>Residential Address</th>
               <th>Name of School / College</th>
               <th>10 + 2 passed / appearing</th>
               <th>Examination Board</th>
               <th>WBJEE / JEE MAINS</th>
               <th>Obtained Marks</th>
            </tr>
         </thead>
         <tbody id="dog"></tbody>
      </table>
   </div>
</section>

<script>
   const btnn = document.getElementById("dog");
   function cat() {
      fetch(`${window.location.origin}/teacher/student-api/`).then(res => res.json())
         .then(data => btnn.innerHTML = data.map((values, key) =>
         `
         <tr>
            <td>${values['user_id']}</td>
            <td>${values['first_name'][0]['first_name']} ${values['last_name'][0]['last_name']}</td>
            <td>${values['gurdian_name'][0]['gurdian_name']}</td>
            <td>${values['date_of_birth'][0]['date_of_birth']}</td>
            <td>${values['contact'][0]['contact']} </td>
            <td>${values['whatsapp'][0]['whatsapp']}</td>
            <td>${values['email'][0]['email']}</td>
            <td>${values['address'][0]['address']}</td>
            <td>${values['institute_name'][0]['school_college_name']}</td>
            <td>${values['appearing_passed_12'][0]['appearing_passed_12']}</td>
            <td>${values['board_name'][0]['board_name']}</td>
            <td>${values['appeared_wbjee_jeeMain'][0]['appeared_wbjee_jeeMain']}</td>
            <td>${values['total_marks'][0]['total_marks']}</td>
         </tr>
         `
      ))
   }

   cat();

   document.getElementById('download').addEventListener('click', function () {
      var tableToExcel = new Table2Excel();
      tableToExcel.export(document.querySelectorAll("#example-table"))
   });
</script>

{% endblock body %}