@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Libre+Baskerville&family=Montserrat:ital,wght@1,300&family=Open+Sans:ital,wght@1,300&family=PT+Sans+Narrow&family=Playfair+Display:ital@0;1&family=Roboto+Condensed&family=Source+Serif+Pro:ital,wght@1,300&family=Zen+Antique+Soft&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Alegreya', serif;
   font-family: 'Libre Baskerville', serif;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Playfair Display', serif;
   font-family: 'PT Sans Narrow', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   font-family: 'Source Serif Pro', serif;
   font-family: 'Zen Antique Soft', serif;
}

.head {
   background-color: rgb(42, 42, 206);
   height: 25vh;
   display: flex;
   justify-content: space-evenly;
   overflow: hidden;
}

.timer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   width: 40vw;
}

.buttonss {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 25vh;
   width: 30vw;
   justify-content: center;
}

.bttn {
   margin-left: 5px;
   margin-top: 5px;
   height: 25px;
   width: 25px;
   align-items: center;
}

@media only screen and (min-width: 881px) {
   .buttonss {
      justify-content: center;
   }
}

@media only screen and (max-width: 880px) {
   .head {
      height: 34vh;
   }

   .bttn {
      margin-left: 2px;
      margin-top: 1px;
      height: 23px;
      width: 23px;
   }

   .timer {
      width: 35vw;
      overflow: hidden;
   }

   .buttonss {
      height: 33vh;
      width: 55vw;
      justify-content: center;
      overflow-y: scroll;
      margin-top: 10px;
   }

   .username {
      font-size: 12px;
   }
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 8vh;
   position: absolute;
   bottom: 0;
}

.submit {
   position: absolute;
   right: 0;
   margin-right: 10px;
   margin-bottom: 5px;
}

.ques {
   font-weight: bold
}

span {
   font-weight: bold
}
